html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* gps locator button */
.locate {
  top: 6em;
  left: .5em;
}

/* tools button */
.toggleMapSettings {
  position: absolute;
  left: 3em;
  top: 0;
  z-index: 2000;
}